body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("img/background-nature.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

h3 { 
    color: darkslategrey;
    font-size: 50px;
    line-height: 80px;
    text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
    letter-spacing: -2px;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B0B0B0;
    width: 350px; height: 400px;
    padding: 1%;
    gap: 5px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.display {
    background-color: #ffffff;
    height: 90px;
    width: 296px;
    display:flex;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    font-size: 40px;
    gap: 6px;
    border-radius: 5px;
    margin:0px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    flex-direction:row-reverse
}

#keypad-container {
    height: 450px; width: 340px;
    margin: 0px; padding: 0px;
    border: 2px solid dark #B0B0B0;
}

.keypad {
    background-color: #f2f5ff;
    border: 2px solid #B0B0B0;
    width: auto; height: 55px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.keypad:hover {
    border: 1px solid #eeeeee;
  }

.clear:hover, .del:hover {
    color: lightcoral;
    font-weight: bolder;
}

.operator:hover, .negative:hover, .equal:hover {
    color: lightseagreen;
    font-weight: bolder;
}

.num:hover {
    color:sandybrown;
    font-weight:bolder;
}

#first-keypad-section {
    display: inline-grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 340px;
}

#last-row-keypad {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 2fr ;
    width: 340px;
}

.operators {
    color: lightseagreen;
}

footer, header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #B0B0B0;
    font-size: 20px;
    height: 5%;
    opacity: 0.8;
    font-family: monospace;
    font-weight:500;
}

header {
    top: 0%;
    letter-spacing: 5px;
}

.img {
    padding-bottom: 5px;
    padding-top: 3px;
    padding-left: 5px;
    height: 30px;
    width: auto;
}

footer {
    padding-right: 32%;
}

.help {
    margin-right: 30%;
    cursor: pointer;
    font-weight: bold;
}
  
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: whitesmoke;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}

.popup h2 {
margin-top: 0;
color: #333;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.popup .close:hover {
color: red;
}
.popup .content {
max-height: 30%;
overflow: auto;
}